@font-face {
    font-family: 'Fira Code VF';
    // src: url('./static/fira/ttf/FiraCode-Regular.ttf');
    src: url('/@photon-rush/web.resources/content/fira/ttf/FiraCode-Retina.ttf');
    font-style: normal;
}